.info {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    max-width: 600px;
}

.number {
    composes: text text_type_digits-large from '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.status-info {
    display: flex;
    column-gap: 36px;
}

.order-number {
    composes: text text_type_digits-default from '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    display: flex;
    column-gap: 36px;
    margin-top: 24px;
}

.column {
    display: flex;
    flex-direction: column;
}

.blue {
    color: #00CCCC;
}
