.section {
    composes: section from '../../index.css';
    height: 100%;
    display: flex;
    flex-direction: column;
}

.custom-scroll {
    composes: custom-scroll from '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    height: inherit;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.custom-scroll::-webkit-scrollbar-track {
    margin: 96px 0;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border: 0;
    border-radius: 0;
}

.result {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    justify-content: flex-end;
    margin-top: 40px;
}
