.button {
    composes: button button_type_primary button_size_medium from '../../../../node_modules/@ya.praktikum/react-developer-burger-ui-components/dist/ui/button.css';
    background: transparent;
    padding: 16px 20px;
    color: #F2F2F3;
    display: flex;
}

.button:hover {
    cursor: pointer;
    box-shadow: none;
}

.button__icon {
    composes: pr-2 from '../../../../node_modules/@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    display: block;
}

.button__icon svg {
    display: block;
}

.button__text {
    display: block;
}
