.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    cursor: pointer;
    position: relative;
}

.image {
    display: block;
    margin-bottom: 8px;
    max-width: 240px;
}

.name {
    composes: text text_type_main-default from '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    text-align: center;
    min-height: 48px;
    margin-top: 8px;
}
