.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px 0;
    margin-right: 8px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 8px;
}

.first-item {
    margin-right: 8px;
    margin-bottom: 16px;
}

.last-item {
    margin-right: 8px;
    margin-top: 16px;
}
